[submodule "themes/github-style"]
	path = themes/github-style
	url = https://github.com/jkl2554/github-style.git
[submodule "themes/github-style-plus"]
	path = themes/github-style-plus
	url = https://github.com/jkl2554/github-style-plus.git
